.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #02627a;
    border-color: #02627a;
  }

 
  
  .ant-checkbox-checked .ant-checkbox-inner:hover {
    background-color: #02627a;
    border-color: #02627a;
  }
