input[type=checkbox]:checked {
    background-color: #02627a !important;
    border-color: #02627a;
  }

 
  
  .ant-checkbox-checked .ant-checkbox-inner:hover {
    background-color: #02627a;
    border-color: #02627a;
  }

  .option{
    display: flex !important;
    border: 1px solid #CCCCCC;
    height: 26px;
    justify-content: center !important;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    transition: all .7s;
  }

  .option-active{
    background-color: #02627a !important;
    color: #CCCCCC;
  }

  .option input {
    width: 0 !important;
  }

  .option:hover{
    opacity: 0.7;
  }

  .chevron-btn{
      width: 26px;
      height: 26px;
      border-radius: 18px;
      background-color: #02627a;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      color: #FFFFFF;
      transition: all 0.6s;
      cursor: pointer;
  }

  .chevron-btn:hover{
    opacity: 0.6;
  }
