.HomePage {
  width: 100vw;
  padding-bottom: 120px !important;
}

.search-filter{
  width: 100%;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 4px;
  background-color: #FFFFFF;
  border-radius: 7px;
}
.search-filter input{
  height: 32px;
  border: none;
  width: 100%;
  outline: none;
}

.filter-icon{
  height: 32px;
   width: 40px !important;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mode{
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 700;
  opacity: .4;
  border: 1px solid #7d7d7d !important;
  border-radius: 7px;
  margin: auto 2px;

}

.type{
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 700;
  opacity: .4;
  border: 1px solid #7d7d7d !important;
  border-radius: 7px;
  margin: auto 2px;

}

.active-mode{
  opacity: 1 !important;
  border: none !important;
  color: #02627a !important;
}
.type-active{
  background-color: #02627a;
  color: #FFFFFF;
  opacity: 1 !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-pagination .ant-pagination-item-active {
  border-color: #02627a !important;
}


