.HomePage {
  width: 100vw;
}

.btn-filter{

  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-size: 22px !important;
  color: #02627a;

}

.btn-filter-active{
  background-color: #02627a !important;
  color: #FFFFFF !important;
}

.navbar-item{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-item-active{
  color: #02627a;
  border-bottom: 1px solid #02627a;
}


