.back-arrow-btn{
    background-color: #4f4f4f47;
    border: none;
    outline: none;
    padding: 4px 12px !important;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
}

.bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-btn{
    background-color: #4f4f4f47;
    border: none;
    outline: none;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    padding: 4px 12px !important;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
}

.facilitie-item{
    background-color: #F4F4F4;
    padding: 12px 16px;
    border-radius: 7px;
}

.contact-owner{
    background-color: transparent;
}

.ant-modal-close-x{
    background-color: white;
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 26px !important;
    color:#02627a;
    font-weight: 700 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}