.active{
    border: 2px solid #96577F !important;
}




.custom-scrollbar {
    background-color: #f4f4f4;
    border-radius: 7px !important;
    height: 90vh !important;
    border-radius: 7px !important;
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  /* Additional styling for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: darkgray lightgray;
}

/* For webkit browsers like Chrome/Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: lightgray;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

.facilities-state{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 2px 4px;

}

.post-image{
  transition: .5s;
}
.post-card:hover .post-image{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 3px solid #FA8E44;
}