.BottomNav {
 position: fixed;
 bottom: 0;
 width: 100%;
 padding: 8px 10px;
 background-color: #ffffff;
 box-shadow: 8px 6px 0px 4px #81818176

}

.nav-btn{
    padding: 0 !important;
    text-align: center !important;
    display: flex !important;
    background: none !important;
    border: none !important;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.plus-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: orange;
    border-radius: 50%;
    border: none;

}

.plus-btn:hover{
    opacity: .7;
}

.nav-bottom-link{
    text-decoration: none !important;
    text-align: center !important;
    transition: all .5s;
}

.nav-bottom-active{
    color: #219ebc !important;

}