.login-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #d0eff8;

}
.login-input {
    height: 48px !important;
    border-radius: 8px;
    background-color: #F4F4F4;
    font-size: 16px !important;
    font-weight: 700 !important;
    padding: auto 12px !important;
}




.login-btn{
    transition: background-color 0.5s;
    width: 230px;
    height: 40px;
    border-radius: 8px;
    background-color: #02627a;
    color: #F4F4F4;
    font-weight: 600;
    border: none;
}