

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  accent-color: #96577F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.styles-module_wrapper__1I_qj{
  z-index: 2800 !important;
}

.form-control, .form-select{
  border-radius: 4px !important;
}

.btn-primary{
  background-color: #FA8E44 !important;
  outline: none !important;
  border: none !important;
  padding: 8px 8px !important;
}

.btn-outline-primary{
  border: 1px solid #FA8E44 !important;
}

.allready-viewed {
  opacity: 0.7 !important;
  box-shadow: none !important;
}

.text-secondary{
  color: #96577F !important;
 
}

.text-warning{
  color: #FA8E44 !important;
 
}

.bg-secondary{
  background-color: #96577F !important;
}

input[type="checkbox"]:checked{
  background-color: #96577F !important;
}

.btn-outline-secondary{
  border-color: #96577F !important;
  color: #96577F !important;
  font-weight: 700;
}

.btn-outline-secondary:hover{
  background-color: #96577F !important;
}

input[type="checkbox"],
input[type="radio"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}

        
        
