.HomePage {
  width: 100vw;
}

.btn-filter{

  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-size: 22px !important;
  color: #FA8E44;

}



.navbar-item{
  font-size: 14px;
  font-weight: 700; 
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-item-active{
  color: #FA8E44;
  border-bottom: 1px solid #FA8E44;
}


